.about-area{
    .about-text{
        h2{
            font-weight: bold;
            font-size: 46px;
            line-height: 54px;
            color: #1C1D1D;
            margin-bottom: 40px;
            text-transform: capitalize;
        }
        .about-desc{
            p{
                font-size: 18px;
                line-height: 28px;
                color: #727272;
                margin-bottom: 23px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    
}


/** responsive css **/ 
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}


/* Extra small Device. */
@media (max-width: 767px) {
	.about-area {
		padding: 40px 0;
	}
    .about-thumb {
        width: 65%;
        text-align: center;
        margin: 0 auto 10px;
    }
	.about-area .about-text h2 {
		font-size: 32px;
		line-height: 37px;
		text-align: center;
		margin-bottom: 39px;
	}
	.about-area .about-text .about-desc p {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 23px;
		text-align: center;
	}
}





/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	

}


/* SM Small Device :550px. */
@media only screen and (min-width: 375px) and (max-width: 420px) {
    .about-thumb {
        width: 70%;
    }

}

/* SM Small Device :550px. */
@media only screen and (min-width: 320px) and (max-width: 360px) {
    .about-thumb {
        width: 75%;
    }

}

/* SM Small Device :550px. */
@media only screen and (min-width: 280px) and (max-width: 320px) {
    .about-thumb {
        width: 80%;
    }

}