/** Custom & Default Widget **/
.footer-widget{
    h3{
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #1C1D1D;
        text-transform: capitalize;
        margin-bottom: 17px;
    }
    .quick-links{
        ul{
            li{
                a{
                    font-size: 16px;
                    line-height: 30px;
                    color: #1C1D1D;
                    opacity: 0.8;
                    &:hover{
                        color: #00AEEF;
                    }
                }
            }
        }
    }
}
